@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 1207px; /* Adjust as needed */
  position: relative;
  margin: 0 auto; /* Center the hero container */
  opacity: 1; /* Adjust if you want opacity to change */
  background-image: linear-gradient(90deg, #f9f9f9 2px, transparent 1px),
                    linear-gradient(180deg, #f9f9f9 2px, transparent 1px);
  background-size: 80px 80px; /* Adjust size of the grid */
}


.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 1207px; /* Ensure the container doesn't exceed 1207px */
  gap: 133px; /* Space between the left and right boxes */
}

.hero-left {
  width: 50%; /* Adjust as needed */
  text-align: left; /* Align text to the left */
}

.hero-left h1 {
  font-size: 48px; /* Adjust font size as needed */
  color: #1C352D;
  font-weight: bold;
  font-family: 'Poppins', sans-serif; /* Apply Poppins font */
}

.hero-left p {
  font-size: 24px; /* Adjust font size as needed */
  color: #0A0B0A;
  margin: 1rem 0;
}

.hero-button {
  background-color: #1E3932;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin: 2rem 0;
  width: 253px;
  height: 74px;
  padding: 0 36px; /* Adjust padding for text and icon */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-family: 'Poppins', sans-serif; /* Apply Poppins font */
}

.hero-button i {
  margin-left: 10px;
}

.hero-button:hover {
  background-color: #004d37ef; /* Adjust color as needed */
}

.hero-button-text {
  display: block;
  font-size: 12px; /* Adjust font size as needed */
  margin-top: 2px; /* Space above the text */
  text-align: center;
  font-family: 'Poppins', sans-serif; /* Apply Poppins font */
  width: 253px; /* Ensure text width matches button */
}

.hero-right {
  width: 50%; /* Adjust as needed */
}

.hero-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
